---
layout: default
comments: true
---
<div class="section">
    <div class="container">
        <hr>
        <div class="row">
            <div class="col" onclick="goBack()">
                <i class="fa fa-angle-left fa-2x pointer"></i>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="display-3">{{ page.title }}</h1>
                <p class="text-muted">
                    <span class="d-inline-block nav-link"><i class="far fa-calendar-alt"></i> {{ page.date | date_to_string }}</span>
                    <span class="d-inline-block nav-link"><i
                            class="fa fa-clock"></i>{% include reading_time.html %}</span>
                    <span class="d-inline-block nav-link"><i class="fa fa-tag"></i> Fruit Apple Food</span>
                </p>
                <img class="w-100 img-fluid" src="{{site.baseurl}}/{{ page.img }}">
                <p class="text-muted mt-2">
                    <span class="d-inline-block nav-link pointer" id="like-button" title="Love?">
                        <i class="far fa-heart fa-2x"></i>
                    </span>
                    <span class="d-inline-block nav-link pointer">
                        <a href="https://www.facebook.com/sharer.php?u={{ site.url }}/{{ page.url }}&title={{ page.title }}"
                           title="Share on Facebook" target="_blank">
                            <i class="fab fa-facebook fa-2x"></i>
                        </a>
                    </span>
                    <span class="d-inline-block nav-link pointer">
                        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}"
                           rel="nofollow" target="_blank" title="Share on Twitter">
                            <i class="fab fa-twitter fa-2x text-twitter-blue"></i>
                        </a>
                    </span>
                    <span class="d-inline-block nav-link pointer">
                        <a onclick="copyText()" title="Get a shareable link">
                            <i class="fas fa-link fa-2x text-muted"></i>
                        </a>
                    </span>
                </p>
                <div class="font-size-paragraph mt-5">
                    {{ content }}
                </div>
                <p class="text-muted mt-2">
                    {% assign author = site.authors | where: 'name', page.author | first %}
                    <img style="width: 50px" class="rounded-circle" src="{{ site.baseurl }}/{{ author.author_img }}"
                         alt="{{ page.author }}">
                    <a
                            {% if author %}
                            href="{{ author.url }}"
                            {% else %}
                            href="#"
                            {% endif %}
                            class="text-capitalize ml-2">
                        {{ page.author }}
                    </a>
                </p>
            </div>
        </div>
        <hr>

        <div id="disqus_thread">
            redda
        </div>
        <script>

            /**
             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://blog-straivesolutions-com.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

        <div class="row">
            <div class="col">
                <h4 class="font-weight-bold text-justify text-capitalize mt-2">
                    <u>Related Web Stories</u>
                </h4>
            </div>
        </div>
        <div class="row">
            {% assign count = 0 %}
            {% for post in site.posts %}
                {% if count >= 3 %}
                    {% break%}
                {% else %}
                    {% if post.author == page.author %}
                        {% unless page.title == post.title %}
                        <div class="col-md-4">
                            <div class="card-body">
                                <a href="{{ post.url }}" class="text-decoration-none text-dark">
                                    <img class="img-fluid w-100 rounded" src="{{ site.baseurl }}/{{ post.img }}"
                                         alt="{{ post.title }}">
                                    <h2 class="font-weight-bold">{{ post.title }}</h2>
                                    <i class="far fa-calendar-alt"></i> {{ post.date | date_to_string }}
                                    <p class="mt-1">{{ post.excerpt }}</p>
                                </a>
                            </div>
                        </div>
                        {% assign count = count | plus:1 %}
                        {% endunless %}
                    {% endif%}
                {% endif%}
            {% endfor %}
        </div>
    </div>
</div>
