---
layout: default
---
<div class="section">
    <div class="container">
        <hr>
        <div class="row">
            <div class="col pointer" onclick="goBack()">
                <i class="fa fa-angle-left fa-2x"></i>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="display-3">{{ page.title }}</h1>
                <p class="text-muted">
                    <span class="d-inline-block nav-link"><i class="far fa-calendar-alt"></i> {{ page.date | date_to_string }}</span>
                    <span class="d-inline-block nav-link"><i class="fa fa-clock"></i> 2min Read</span>
                    <span class="d-inline-block nav-link"><i class="fa fa-tag"></i> Fruit Apple Food</span>
                </p>
                <img class="w-100 img-fluid" src="{{site.baseurl}}/{{ page.img }}">
                <p class="text-muted">
                    <span class="d-inline-block nav-link"><i class="far fa-heart fa-2x"></i></span>
                    <span class="d-inline-block nav-link">
                        <a href="https://www.facebook.com/sharer.php?u={{ site.url }}/{{ page.url }}&title={{ page.title }}" title="Share on Facebook" target="_blank">
                            <i class="fab fa-facebook fa-2x"></i>
                        </a>
                    </span>
                </p>
                <div class="font-size-paragraph">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</div>